name: aws-zombie-hunter CI

on: [push, pull_request]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3


      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"


      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}


      - name: Install Tools
        run: |
          pip install flake8 bandit black pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Security Scan
        run: bandit -r . -f custom
